{% extends 'base.html.twig' %}

{% block title %}Редактирование курса{% endblock %}

{% block body %}
    <h1>Редактирование курса</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

    {{ include('course/_delete_form.html.twig') }}

    <a href="{{ path('course_show', {'id': course.id}) }}">Назад к курсу</a>
{% endblock %}
