{% extends 'base.html.twig' %}

{% block title %}Список курсов{% endblock %}

{% block body %}
    <h1>Список курсов</h1>

    {% for course in courses %}
        <h2><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a></h2>
        <p>{{ course.description }}</p>
    {% else %}
        <p colspan="5">Курсы отсутствуют</p>
    {% endfor %}

    <hr/>
    <a href="{{ path('course_new') }}">Добавить новый курс</a>
{% endblock %}
