{% extends 'base.html.twig' %}

{% block title %}Редактирование урока{% endblock %}

{% block body %}
    <h1>Редактирование урока</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
