{% extends 'base.html.twig' %}

{% block title %}Добавление нового урока{% endblock %}

{% block body %}
    <h1>Добавление нового урока</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a href="{{ path('course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>
{% endblock %}
