{% extends 'base.html.twig' %}

{% block title %}Добавление нового урока{% endblock %}

{% block body %}
    <h1>Добавление нового урока{</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('lesson_index') }}">back to list</a>
{% endblock %}
